/*
Standard html nodes
*/
html, body
{
    height: 100%;
    margin: 0;
    padding: 0px;
    overflow: none;
}

.hidden 
{
  display: none;
}

/*
SVG Map
*/
#svgContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  border: 20px solid #ff6550;

}

#svgContainer {
    position: relative;
    width: 700px;
    height: 700px;
    overflow: hidden;
    border: 11px outset #a0cfd3;
    background: #4c4c59; 
}

.icon {
  width: 32px;
}

.icon-text {
  text-anchor: middle;
  dominant-baseline: middle;
  filter: url(#rounded-corners);
  font-weight: bold;
  font-size: 16px;
}

.travel-line {
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: 30,10;
}

.travel-dot {
  stroke: red;
  fill: red;
}

/*
SVG text display
*/
svg .text-display-hover {
  display: none;
}
svg g g:hover text {
  display: block;
}


/*
Styling for Table
*/

table.distTableStyling {
  border: 6px solid #948473;
  background-color: #FFE3C6;
  width: 50%;
  text-align: center;
}
table.distTableStyling td, table.distTableStyling th {
  border: 2px solid #948473;
  padding: 2px 4px;
}
table.distTableStyling tbody td {
  font-size: 12px;
}
table.distTableStyling thead {
  background: #948473;
  background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table.distTableStyling thead th {
  font-size: 17px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: left;
  border-left: 2px solid #948473;
}
table.distTableStyling thead th:first-child {
  border-left: none;
}

/*
Styling for grid
*/

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "canvas canvas canvas canvas public_settings"
    "canvas canvas canvas canvas public_settings"
    "canvas canvas canvas canvas admin_settings"
    "canvas canvas canvas canvas admin_settings"
    "distance_calculator distance_calculator distance_calculator distance_calculator distance_calculator";
  width: 1000px; 
  height: 1000px; 
}

.public_settings { grid-area: public_settings; border: 4px dashed #a3cfb1;}

.admin_settings { grid-area: admin_settings; border: 4px dashed #a3cfb1;}

.distance_calculator { grid-area: distance_calculator; border: 4px dashed #a3cfb1;}

/*
Styling for toggles
*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Round Sliders */

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

