/*
Standard html nodes
*/
html, body
{
    height: 100%;
    margin: 0;
    padding: 0px;
    overflow: none;
}

.hidden 
{
  display: none;
}

/*
SVG Map
*/

#svgContainer {
    position: relative;
    overflow: hidden;
}

.icon {
  width: 32px;
}

.search-result-highlight {
  outline: 12px double #add8e6;
}

.icon-text {
  text-anchor: middle;
  dominant-baseline: middle;
  font-weight: bold;
  font-size: 16px;
  fill:black;
  font-family: Garamond, serif;
}

.travel-line {
  stroke: red;
  stroke-width: 2;
  stroke-dasharray: 30,10;
}

.travel-dot {
  stroke: red;
  fill: red;
}

/*
SVG text display
*/
svg .text-display-hover {
  display: none;
}
svg g g:hover text {
  display: block;
}

/*
Biomes
*/
.biome-area {
  width: 2048px;
  opacity: 0.3;
}


/*
Styling for Table
*/

table.distTableStyling {
  border: 6px solid #948473;
  background-color: #FFE3C6;
  width: 100%;
  text-align: center;
}
table.distTableStyling td, table.distTableStyling th {
  border: 2px solid #948473;
  padding: 2px 4px;
}
table.distTableStyling tbody td {
  font-size: 12px;
}
table.distTableStyling thead {
  background: #948473;
  background: -moz-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: -webkit-linear-gradient(top, #afa396 0%, #9e9081 66%, #948473 100%);
  background: linear-gradient(to bottom, #afa396 0%, #9e9081 66%, #948473 100%);
}
table.distTableStyling thead th {
  font-size: 17px;
  font-weight: bold;
  color: #F0F0F0;
  text-align: left;
  border-left: 2px solid #948473;
}
table.distTableStyling thead th:first-child {
  border-left: none;
}

/*
Styling for toggles
*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

/* Round Sliders */

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 4px 4px; 
  grid-template-areas: 
    "map map map information information extra"
    "map map map information information extra"
    "map map map information information extra"
    "distance-calc distance-calc distance-calc settings settings extra"; 
  width: 100%; 
  height: 100%; 
}

.information { 
  grid-area: information; 
  border-style: dotted dashed solid double;
}

.map {
  justify-self: center;
  align-self: center;
  grid-area: map;
  width: 100%;
  height: 100%;
  border: 2px outset #a0cfd3;
  background: #4c4c59; 
}

.distance-calc {
  grid-area: distance-calc;
  border-style: dotted dashed solid double;
}

.settings {
  grid-area: settings;
  border-style: dotted dashed solid double;
}

.extra {
  grid-area: extra;
  border-style: dotted dashed solid double;
}

/* Biome Key drop down */
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.biome-key-color {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black
}

.quest-list {
   text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black
}

